/**
* Slider
*/

.slick-arrow {
    cursor: pointer;
}

.product-prev {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 5;
}

.product-next {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 5;
}

.img-slide {
    width: 100%;
    height: auto;
    border-radius: 20px !important;
}

.element-description-title {
    font-size: 36px;
}

.slick-dots li button:before {
    font-size: 16px;
}

.slick-center {
    width: 105%;
}

.product-prev, .product-next {
    display: flex;
    align-items: center;
    justify-content: center;
    top: 45%;
    background-color: var(--white);
    width: 30px;
    height: 30px;
    border-radius: 15px;
    box-shadow: 0 1rem 2rem hsl(0 0% 0% / 20%);
}

/**
* All product
*/
.loader {
    border: 8px solid var(--bg-light); /* Light grey */
    border-top: 8px solid var(--blue-dark); /* Blue */
    width: 40px;
    height: 40px;
    animation: spin 2.5s linear infinite;
    /*display: none;*/
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.element-nav-product {
    border-radius: 20px;
}

.element-product {
    height: 250px;
    overflow: hidden;
    border-radius: 5px;
}

.image-product {
    align-items: center;
    width: 100%;
    height: auto;
}

.btn-add-cart {
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.element-name-product {
    font-size: 18px;
    font-weight: 600;
    text-overflow: ellipsis;
    vertical-align: baseline;
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.element-price-product {
    font-weight: 600;
    font-size: 20px;
}

/**
* Join Us
*/

.element-join-us-title {
    font-size: 30px;
    font-weight: 600;
}

.wrapper-join-us-input {
    border: 1px solid var(--gray-light) !important;
    border-radius: 24px;
    box-shadow: 0 1rem 2rem hsl(0 0% 0% / 20%);
}

.btn-join-us {
    border-radius: 19px;
    background-color: var(--orange);
}

input[type=email] {
    -webkit-appearance: checkbox;
    border-radius: 24px;
    padding-left: 15px;
}

input[type=email]:focus {
    border: none;
    box-shadow: none;
}

.form-join-us {
    width: 500px;
}

/**
* Banner
*/

.element-product-banner-left {
    padding-left: 100px;
}

.element-text-banner {
    position: absolute;
    left: 0;
}

.banner-left {
    bottom: 30px;
}

.banner-right {
    top: 30px;
}


/**
* Other Social
*/

.element-other-social-title {
    font-size: 32px;
    font-weight: 600;
}

/**
* Policy
*/

.btn-know-more {
    background-color: var(--orange);
    border-radius: 19px;
}

.img-poster {
    width: 100%;
    height: auto;
    border-radius: 20px;
}
