@import url(../color.css);

:root {
    --unnamed-font-family-quicksand: Quicksand;
    --unnamed-font-style-normal: normal;
    --padding-page: calc(25% / 2);
    --unnamed-font-size: 18px/24px ;
    --unnamed-font-weight: 500;
}

body {
    font-family: var(--unnamed-font-family-quicksand);
    font-weight: var(--unnamed-font-weight);
    font-size: var(--unnamed-font-size);
    background-color: var(--bg-gray);
}

a {
    cursor: pointer;
}

.text-break-word {
    word-break: break-word;
    text-overflow: ellipsis;
    vertical-align: baseline;
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.page-link {
    font-weight: 600;
}

.icon {
    color: var(--blue-dark);
}

.icon-title {
    height: 30px;
    width: 30px;
}

.w-70 {
    width: 70px !important;
}

.w-90 {
    width: 90px !important;
}

.w-120 {
    width: 120px !important;
}

.w-160 {
    width: 160px;
}

.btn-scroll-to-top {
    right: 20px;
    bottom: 20px;
    position: fixed;
}

.bg-btn-admin {
    width: 55px;
    right: 0;
    border-top-left-radius: 45%;
    border-bottom-left-radius: 45%;
    top: 120px;
    box-shadow: 0 0.3rem 0.3rem hsl(0deg 0% 0% / 20%);
}

.btn-to-admin {
    margin: 6px;
}

.nav-link {
    cursor: pointer;
}

/**
* Header
*/
nav.navbar {
    box-shadow: 0 0.5rem 0.5rem hsl(0deg 0% 0% / 20%);
}

.navbar-brand {
    font-size: 26px;
}

.btn-header {
    height: 42px;
    width: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.max-width-1200 {
    max-width: 1200px;
    margin: auto;
}

.badge-danger {
    right: -1px;
    top: -1px;
}

.dropdown-menu {
    right: 0 !important;
    left: unset;
}

.cart-list {
    position: absolute;
    background-color: var(--white);
    box-shadow: 0 1rem 2rem hsl(0 0% 0% / 20%);
    right: 0;
    border-radius: 5px;
    display: none;
    width: 350px;
}

.dropdownCart:hover>.cart-list {
    display: block !important;
}

.img-cart {
    height: 40px;
    width: 40px;
    border-radius: 3px;
}

.element-product-cart:hover {
    background-color: var(--bg-light);
}

.image-avatar {
    background-image: url("../../img/default-avatar.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.cart-list a {
    text-decoration: none;
}

/**
* Main
*/

#content {
    max-width: 1200px;
    margin: auto;
}

/**
* Footer
*/

.border-middle {
    border: 1px solid var(--gray-light);
}

.icon-footer {
    width: 25px;
}

.navbar-brand-footer {
    font-size: 36px;
}
