:root {
    --blue-dark: #183153;
    --gray-light: #DEE2E6;
    --bg-light: #f8f9fa;
    --white: #ffffff;
    --facebook-color: #3b5999;
    --instargram-color: #e4405f;
    --youtube-color: #cd201f;
    --linked-color: #0077B5;
    --orange: #F1573C;
    --bg-gray: #fcfcfc;
}
