.w-icon {
    width: 30px;
    height: 32px;
}

.dropdown-toggle:after {
    color: black;
    cursor: pointer;
}

.w-160 {
    width: 160px;
}

.w-120 {
    width: 120px !important;
}

.w-70 {
    width: 70px;
}

.img-cart {
    height: 40px;
    width: 40px;
    border-radius: 3px;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #f5f5f5;
}

.select2-container--default.select2-container--focus .select2-selection--multiple,
.select2-container--default .select2-selection--single
{
    border: 1px solid #DDDDDD;
}

.select2-container .select2-selection--single,
.select2-container--default .select2-selection--single .select2-selection__arrow
{
    height: 40px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 40px;
}

.sidebar .sidebar-wrapper, .off-canvas-sidebar .sidebar-wrapper {
    overflow-x: hidden;
}

.sidebar .nav li>a, .off-canvas-sidebar .nav li>a {
    margin-top: 0;
}

.text-break-word {
    word-break: break-word;
    text-overflow: ellipsis;
    vertical-align: baseline;
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
